.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color: #4b2c11;
}

.reveal .byline {
    margin-top:40px;
}

.reveal table.techs td {
     vertical-align:middle;
 }

.reveal table.techs td.image {
    width:140px;
    height: 80px;
    display: block;
    text-align: right;
    line-height: 80px;
}


.reveal table.techs td.image img {
    margin: 0;
    border: none;
    box-shadow: none;
    background: none;
    /*margin: 0 30px 0 0;*/
}

#me-slide h4,
#me-slide p.left {
    text-align: left;
}

#me-slide p.left {
    font-size: 30px;
}


